* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --hvit: #E0E1DD;
    --graablaa: #B2C0D2;
    --mellomblaa: #415A77;
    --morkblaa: #1B263B;
    --RichBlack: #0D1B2A ;
}

body {
    background-image: url("bilder/vilkaar_og_cookies.jpg");
    background-size: cover;
    background-color: rgba(0,0,0, 0.5);
}

div {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    padding: 400px;
    color: white;
    background-color: var(--morkblaa);
    text-align: center;
}